h1 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.text-padding {
  padding-top: 100px;
  padding-left: 200px;

}

.text-padding-p {
  padding-top: 100px;
  padding-right: 200px;

}

/* .img-padding {
  padding-top: 50px;
  padding-left: 200px;

} */

p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}


.button {
  border-radius: 28px;
  background-color: #205293;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.image {
  padding-top: 150px;
  padding-bottom: 200px;
}

.member-text {
  padding-left: 10px;
  padding-top: 50px;
  color: #205293;
}

.contact-text {
  padding-left: 10px;
  padding-top: 50px;
  font-size: 20px;
  color: #205293;
  
}

.button {
  border-radius: 28px;
  background-color: #205293;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.logo {
  padding-right: 20px;
}

a{
  text-decoration: none;
  color: #FFFFFF;

}