
<div class="row">
  <div class="column text-padding ">
    <h2>Welcome are the</h2>
    <h1>Filipino Students Association of the University of Ottawa </h1>
    <img src="assets/images/Rectangle.png" alt="underline">

    
  </div>
  
  <div class="column text-padding-p">
    <p>The Filipino Students Association (FSA) of the University of Ottawa is a dynamic and vibrant community that celebrates the rich culture and traditions of the Philippines. Our club is open to all students who are interested in learning more about Filipino culture, language, and history.
      <br> <br>
      As a member of FSA, you will have the opportunity to participate in a variety of social and cultural events throughout the academic year. These events include traditional Filipino dances, food festivals, language classes, and guest speakers who will share their insights on Filipino culture and history.
      <br> <br>
      Our club also provides a supportive and welcoming environment where members can connect with other students who share their interests. Whether you are a Filipino student or simply interested in learning more about the Philippines, FSA is the perfect club for you.
      Join us today and become part of our vibrant and welcoming community!</p>
  </div>
</div>

<div class="row">
  <div class="column text-padding">
    <img src="assets/images/GroupPhoto.png" alt="group photo">
  </div>

  <div class="column">
    <div class="column text-padding-p">
      <h2 class="member-text">Join the FilSAUO Fam!</h2>

      <button class="button">
        <span><a routerLink="/register">Sign Up</a></span>
      </button>

      <p class="contact-text"> Feel free to reach out:</p>
      <a href="https://www.instagram.com/filsa_uo/?hl=en">
        <img class="logo" src="assets/images/InstagramLogo.png" alt="instagram"> 
      </a>
      <a href="https://discord.com/invite/ZzAZDMU">
        <img class="logo" src="assets/images/DiscordLogo.png" alt="discord">
      </a>
      <a href="mailto:filsauo@email.com">
        <img src="assets/images/GmailLogo.png" alt="gmail">
      </a>

    </div>
    
  </div>
</div>
