<div class="row">
  <div class="column text-padding ">
    <h1>Events</h1>
    <img src="assets/images/Rectangle.png" alt="underline">

    
  </div>
</div>

<div>
  <table>
    <tr>
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7313.JPG">
          <h2>Sounds of Spring</h2>
          <h3>April 6, 2023</h3>
          <p>Join us for our last event of the semester! Play games and make friends! </p>
        </div>
      </td>
      
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7314.JPG">
          <h2>Sayawan</h2>
          <h3>March 25, 2023</h3>
          <p>Learn how to dance the traditional folk dance, tinikling.</p>
        </div>
      </td>
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7315.JPG">
          <h2>Tagalog Class</h2>
          <h3>February 9, 2023</h3>
          <p>Eager to learn tagalog? Join us and learn basic words and phrases.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7316.JPG">
          <h2>Winter Wonderland</h2>
          <h3>January 13, 2023</h3>
          <p>Our first event of the sem will have ice breakers, games and prizes!</p>
        </div>
      </td>
      
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7317.JPG">
          <h2>Bake Sale</h2>
          <h3>November 28, 2022</h3>
          <p>Come out and purchase some baked goods! All proceeds will be donated.</p>
        </div>
      </td>
      <td>
        <div class="eventblur">
          <img src="assets/images/IMG-7318.JPG">
          <h2>Lola's Birthday Bash</h2>
          <h3>October 28, 2022</h3>
          <p>Let's play some good old hide and seek!</p>
        </div>
      </td>
    </tr>
  </table>

</div>

