<div class="row">
  <div class="column text-padding ">
    <h1>Team</h1>
    <img src="assets/images/Rectangle.png" alt="underline">
  </div>
</div>
  
  <div class="team">
    <table>
      <tr>
        <th>
          <img src="assets/images/person1.png" class="person">
          <h3>President</h3>
          <p>Reign Samson</p>
        </th>
        <th>
          <img src="assets/images/person2.png" class="person">
          <h3>VP Internal</h3>
          <p>Franz Sanico</p>
        </th>
        <th>
          <img src="assets/images/person3.png" class="person">
          <h3>VP External </h3>
          <p>Penelope Lagera</p>
        </th>
      </tr>
      <br>
      <br>
      <tr>
        <th>
          <img src="assets/images/person4.png" class="person">
          <h3>VP Social </h3>
          <p>Patricia Dionido</p>
        </th>
        <th>
          <img src="assets/images/person5.png" class="person">
          <h3>VP Finance</h3>
          <p>Matthew Gleeson</p>
        </th>
        <th>
          <img src="assets/images/person6.png" class="person">
          <h3>VP Communications</h3>
          <p>Jacob Mondero</p>
        </th>
      </tr>
    </table>
</div>