h1 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.text-padding {
  padding-top: 100px;
  padding-left: 200px;

}

.button {
  border-radius: 28px;
  background-color: #205293;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.image{
  height:700px; 
  background-size:auto 400px; 
  background-repeat: no-repeat;
  width:auto;
  background-image:url('src\assets\images\HalfSun.png');
     
  background-position:10% bottom;
}

a{
  text-decoration: none;
  color: #FFFFFF;

}