<div class="row">
  <div class="column text-padding ">
    <h1>New Event</h1>
    <img src="assets/images/Rectangle.png" alt="underline">
  </div>
</div>

<div class="row">
  <div class="column text-padding-form form">
    <form action="https://sheetdb.io/api/v1/w4601btzs2cbz" method="POST" id="sheetdb-form">
      <h2>To add an event, please fill out the following information below:</h2>
      <br>
      <p>Event Name</p>
      <input name="event-name">
      <p>Event Description</p>
      <input name="event-decription">
      <p>Event Date</p>
      <input type="date" name="event-date"
       value="2023-01-01"
       min="2022-01-01" max="2030-12-31">
      <p>Event Photo</p>
      <input type="file" name="event-photo" accept="image/png, image/jpeg">
      <br>
      <button class="button" type="submit"><span>Submit</span></button>
    </form>
  </div>
</div>

