<div class="row">
  <div class="column text-padding ">
    <h1>Register</h1>
    <img src="assets/images/Rectangle.png" alt="underline">
  </div>
</div>

<div class="row">
  <div class="column text-padding-form form">
    <form action="https://sheetdb.io/api/v1/w4601btzs2cbz" method="POST" id="sheetdb-form">
      <h2>To become a member of FilSAUO, please fill out the following information below:</h2>
      <br>
      <p>Full Name</p>
      <input name="data[Full Name]">
      <p>School</p>
      <input name="data[School]">
      <p>Year</p>
      <input name="data[Year]">
      <p>Email</p>
      <input name="data[Email]">
      <br>
      <button class="button" type="submit"><span>Submit</span></button>
    </form>
  </div>
</div>

